body {
    /*padding-top: 22px;
    padding-bottom: 20px;*/
    /*background-color: #162333;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*New*/

hr.cust {
    border: 1px solid #eee !important;
}


.login {
    background: url(../../Image/login_back.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.white {
    color:white;

}

.navbar {
 
    /*margin-bottom: 350px;*/
 
}


.button {
    position: relative;
    display: block;
    background: transparent;
    width: 300px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #e04e5e;
    margin: 40px auto;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

    .button:before,
    .button:after {
        position: absolute;
        content: '';
        width: 300px;
        left: 0px;
        height: 34px;
        z-index: -1;
    }

    .button:before {
        transform: perspective(15px) rotateX(3deg);
    }

    .button:after {
        top: 36px;
        transform: perspective(15px) rotateX(-3deg);
    }

    /* Button Border Style */

    .button.border:before,
    .button.border:after {
        border: 4px solid #e04e5e;
    }

    .button.border:before {
        border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
    }

    .button.border:after {
        border-top: none; /* to prevent the border-line showing up in the middle of the shape */
    }

    /* Button hover styles */

    .button.border:hover:before,
    .button.border:hover:after {
        background: #e04e5e;
    }

    .button.border:hover {
        color: #fff;
    }

footer {
    background-color: #162333;
}